<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<style>
</style>
</th:block>



<div class="content" layout:fragment="content">

	<section class="hero-wrap hero-wrap-2 js-fullheight"
		style="background-image: url('/images/bg_3.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
				<div class="col-md-9 ftco-animate pb-5">
					<p class="breadcrumbs">
						<span class="mr-2"><a href="/">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Lent <i
							class="ion-ios-arrow-forward"></i></span>
					</p>
					<h1 class="mb-3 bread">랜트카 예약</h1>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="row">
			<div class="car-lent-name ">
				<form class="form-item-create" role="form"
					action="car/' + ${car.id}" method="get"
					enctype="multipart/form-data" th:object="${carDto}" name="carForm">
					<div class="text">
						<div class="col-md-6">
							<div class="car-entry">
								<a href="#" class="product-car md-height bg-gray d-block">
									<img th:src="${car.carImgDtoList[0].carImgUrl}"
									class="rounded repImg" th:alt="${car.carName}">
								</a>

							</div>

						</div>

						<h2 class="mb-0">
							<span>차량명</span>
							<a href="car-single.html">[[${car.carName}]]</a>
							<span>[[${car.carType}]]</span>
							<span>
								[[${#numbers.formatInteger(car.carPrice * 1.5, 0, 'COMMA')}]]원 <span></span>
							</span>
						</h2>
					</div>
				</form>
				
				
			<div></div>
			<div></div>
			<div></div>
			</div>
		</div>

	</div>



</div>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
	<svg class="circular" width="48px" height="48px">
				<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
			stroke-width="4" stroke="#eeeeee" />
				<circle class="path" cx="24" cy="24" r="22" fill="none"
			stroke-width="4" stroke-miterlimit="10" stroke="#1a8fff" />
			</svg>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>

	<script th:src="@{/js/koreaplace.js}"></script>
</th:block>
</html>